/*Null*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/
                            // HEADER
.container{
    max-width:1140px;
    margin: 0 auto;
    padding: 0 20px;
}
.header{
    background: url(/images/header.jpg);
    position: relative;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-attachment: fixed;
    padding-top: 50px;

    .header_navigation{
        display: flex;
        justify-content:space-between;
   
    }
    .header_logo-name{
        font-size: 24px;
        color: white;
        text-decoration: none;
        font-family: 'Roboto', sans-serif;
    }
    .header_list{
        display: flex;
        justify-content: space-between;
        gap: 25px;
    }
    a{  
        font-size: 18px;
        color: white; 
        font-family: 'Roboto', sans-serif;
    }
    .header_list_items:hover{
        text-decoration: underline;
        color: white;
    }
    .header_text{
        font-size: 60px;
        color: white;
        text-align: center;
        margin-top: 200px;
        background-color: rgba(36, 25, 12, 0.571); 
        padding: 30px;
    }
    span{
        color: brown;
        font-family: 'Roboto', sans-serif;
    }
}
                    // ABOUT
.section{
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .main_pre-title{
        margin-bottom: 50px;
        font-size: 50px;
        color: brown;
        font-family: 'Lato', sans-serif;
        position: relative;
            &:after{
            content: " ";
            position: absolute;
            bottom: -60px;
            left: -20px;
            width: 250px;
            height: 3px;
            background-color: brown;
            display: inline-block;            
        }
    }
    .main_text{
        margin: 100px 0;
        text-align: center;
        font-size: 18px;
        line-height: 2;
        
    }
}
                    // SKILLS
.section_second{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(/images/section1.jpeg);
    position: relative;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-attachment: fixed;
    padding: 20px 0;
    .main_pre-title{
        text-align: center;
        margin-top: 20px;
        margin-bottom: 50px;
        font-size: 50px;
        color: brown;
        font-family: 'Lato', sans-serif;
        position: relative;
            &:after{
            content: " ";
            position: absolute;
            bottom: -16px;
            left: 413px;
            width: 250px;
            height: 3px;
            background-color: brown;
            display: inline-block;            
        }
    }
    .my_skills{
        display: flex;
        flex-wrap: wrap;
        gap:100px;
        justify-content: center;
    }
    .skills-img{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px;
        background-color: rgba(240, 248, 255, 0.334);
        border-radius: 50%;
    }
    .img-skills{
        width: 120px;
        height: 120px;
    }
    .skills-text{
        font-size: 30px;
        color: white;
    }
}
            // PORTFOLIO
.section_third{
    background-color: rgb(255, 247, 236);
    .section_pre-title{
        text-align: center;
        margin-bottom: 50px;
        padding: 100px 0;
        font-size: 50px;
        color: brown;
        font-family: 'Lato', sans-serif;
        position: relative;
            &:after{
            content: " ";
            position: absolute;
            top:200px;
            left: 430px;
            width: 250px;
            height: 3px;
            background-color: brown;
            display: inline-block;            
        }
    }
    .main_container-portfolio{
        display: flex;
        margin-left: 10px;
    }
    .sidebar {
        flex: 1 0 0;
        font-size: 16px;
      }
      .section-title{
        font-size: 25px;
        margin-bottom: 20px;
      }
      li{
        margin-bottom: 10px;
      }
      a:hover{ 
            color: rgb(125, 151, 53);
        }

      }
      
      .portfolio-second-column {
        flex: 2 0 0;
      }
      
      .sidebar, .portfolio-second-column {
        margin-right: 10px;
        padding: 40px;
        border: 1px solid black;
        border-radius: 5px;
      }

    .list {
        list-style-type: none;
        margin: 0;
        padding: 0;
        .active {
        font-weight: bold;
        }
    }
    .portfolio-second-column{
       text-align: center;
    }
    .post {
        display: none;
        &.active {
          display: block;
        }
      }
     
      .post-title{
        font-style: italic;
        font-size: 40px;
        margin-bottom: 10px;
      }
      h6{
        font-size: 16px;
        margin:20px 0;
      }
      .tools{
        font-size: 20px;
        margin-bottom: 5px;
      }
      
